.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #d7dadf;
  width: 400px;
  height: 600px;
}
.input_wrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.input_url {
  width: 80%;
}
.input {
  padding: 5px;
  outline: none;
}

.btn {
  color: white;
  font-weight: 600;
  padding: 5px;
  border: none;
}
.btn_add_image {
  background-color: deepskyblue;
}
.btn_delete {
  flex: 1;
  margin-right: 5px;
  background-color: red;
}
